@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  height: 100vh;
  color: black;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#time {
  font-size: 8rem;
}

h1 {
  margin-bottom: 3rem;
}
h2 {
  margin-bottom: 0.5rem;
  opacity: 0.9;
}

@media (max-width: 700px) {
  #time {
    font-size: 6rem;
  }
}
